*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Para webkit*/

:root::-webkit-scrollbar-track {
  background-color: $secundariofirst; /*color de la barra de fondo*/
}

:root::-webkit-scrollbar-thumb {
  background-color: $accentosecond; /*color del manejador*/
  border-radius: 12px;
}

:root::-webkit-scrollbar {
  width: 6px; /*ancho del scroll vertical*/
  height: 6px; /*alto del scroll horizontal*/
}

html {
    font-size: 62.5%;
}

body {
    background-color: #000;
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
    background-color: $fondofirst;
    // background-image: linear-gradient(to left, $fondofirst, $fondosecond, $fondofirst);
    color: $tipografiaWhite;
}

p {
    margin: 0;
}
ul {
    list-style: none;
    margin-top:0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

figure {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}